body {
    margin: 0;
    font-family: sans-serif;
    background: #f9e8e8;
}

.game {
    position: relative;
    background: #fff;
    overflow: hidden;
    height: 100dvh;
}

/* width: 500px; */
/* height: 400px; */

.candy {
    position: absolute;
}

.candy>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.candy3>img {
    transform: rotate(180deg);
}

.candy2>img {
    transform: rotate(180deg);
}

.candy1>img {
    transform: rotate(180deg);
}


.cup {
    position: absolute;
    bottom: 15px;
    width: 60px;
    height: 20px;
}

.cup>img {
    width: 60px;
    height: 40px;
}

.diego {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.green {
    color: rgb(27, 166, 27);
    font-size: 16px;
}

.red {
    color: rgb(166, 27, 27);
    font-size: 16px;
}

.bombom {
    position: absolute;
    background-color: #f2f2f2;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    border: 2px solid #000;
    width: 100%;
    min-width: 250px;
    max-width: 600px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
}

.bombom .pix {
    font-size: 25px;
    margin: 10px;
    color: rgb(18, 154, 18);
    text-transform: uppercase;
    cursor: pointer;
}

.copy {
    width: 100%;
    text-align: center;
}